// -----------------------------------------------------------------------------
// This file contains all styles related to the image component.
// -----------------------------------------------------------------------------

$img-wrapper-size: $font-size-base * 10;
$img-border: ($font-size-base / 4) solid $dark-grey;

img {
  max-width: 100%;
}

.img-wrapper {
  @include squared($img-wrapper-size);
  position: relative;
  overflow: hidden;
  border: $img-border;
  // box-shadow: 0 0 10px $img-shadow-color;

  img {
    @extend %absolute-middle;
    min-width: 100%;
    max-width: none;
    height: 100%;
  }
}

.img-wrapper--x2 {
  @include squared($img-wrapper-size * 2);

  img {
    max-width: $img-wrapper-size * 2;
  }
}

.img-wrapper--circle {
  @extend .img-wrapper;
  border-radius: 50%;
}

.img-zoomed {
  @extend %modal-box;
  cursor : zoom-out;

  &-wrapper {
    @extend %modal-layer;
    cursor : zoom-out;
  }
}
