%nav-bar--link,
.nav-bar--link {
  @extend %button;
}

.nav-bar--inner {
  @extend %flex-row;
}

%nav-bar,
.nav-bar {
  overflow: auto;
  max-width: 100%;

  ul {
    @extend %list-reset;
    @extend %flex-row;
  }

  a {
    text-decoration: none;
  }

  li {
    @extend %nav-bar--link;
  }
}

.nav-bar--main {
  @extend %nav-bar;
  justify-content: space-between;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: z(navbar);
  border-bottom: 1px solid transparent;
  background: rgba($mid-grey, .5);
}
