%section {
  @extend %box;
}

%content-center-on-viewport {
  @extend %full-viewport-height;
  @extend %flex-column-center-center;
  min-height: 100vh;

  %section-inner {
    @extend %full-viewport-width;
    max-width: 600px;
    padding-top: 5vh;
    padding-bottom: 5vh;
  }
}

// // // // //

.section,
section {
  @extend %section;
}

.section-inner {
  @extend %section-inner;
}

.content-center-on-viewport {
  @extend %content-center-on-viewport;
}
