<nav id="main-nav-bar" class="nav-bar--main">
  <div class="nav-bar--inner">
    <a href="/"><li><b>Emveepy</b></li></a>
    <ul id="section-links">
    </ul>
    <a id="theme-toggler"><li>Toggle theme</li></a>
  </div>
</nav>
