<nav id="main-nav-bar" class="nav-bar--main">
  <div class="nav-bar--inner">
    <ul>
      <a href="/"><li><b>Emveepy</b></li></a>
    </ul>
    <a class="button" id="theme-toggler"><i>Toggle theme</i></a>
  </div>
</nav>
