%full-viewport-width {
  width: 100vw;
}

%full-viewport-height {
  height: 100vh;
}

%full-viewport {
  width: 100vw;
  height: 100vh;
}

%box {
  padding: $gutter;
}

%box--margined {
  @extend %box;
  margin: $gutter;
}

%box--bordered {
  // @extend %box-margined;
  border: 1px solid;
}
