// -----------------------------------------------------------------------------
// When having several themes, this file contains everything related to the
// default one.
// -----------------------------------------------------------------------------

$button-color-border: transparent;
$button-color-bg: invert($brand-color);
$button-color-text: $text-color;

%theme-dark,
.theme-dark {
  background-color: $text-color;
  color: $bg-color;

  a {
    color: invert($brand-color);
  }

  %button {
    border-color: $button-color-border;
    background-color: $button-color-bg;
    color: $button-color-text;

    @include on-event {
      border-color: darken($button-color-bg, 20%);
    }
  }

  %nav-bar {
    background-color: $button-color-bg;
  }
}
