@charset "UTF-8";

// ----------------------
// == Site settings
// ----------------------

// Fonts
$font1: "Helvetica Neue", Helvetica, Arial, sans-serif;
$font2: Georgia, serif;

// = Colors
// -----------------------------

$color-main: #3333ff;

$color-darkest: darken($color-main,45%);
$color-darker: darken($color-main,30%);
$color-dark: darken($color-main,15%);
$color-light: lighten($color-main,15%);
$color-lighter: lighten($color-main,30%);
$color-lightest: lighten($color-main,45%);

// Brand colors
$facebook: #3b5998;
$twitter:  #43bfe1;

// = Grid
// -----------------------------

// Max width wrapper
$wrapper-width: pxtoem(1140, 16);
